### Instructions as funcitons

In [18]:
import sqlite3
import random
import datetime
import time

conn = sqlite3.connect('files/loja.db')
c = conn.cursor()

In [19]:
def create_table_produtos(cursor=c, connection=conn):
    cursor.execute('CREATE TABLE IF NOT EXISTS Produtos('\
                   'ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, '\
                   'Date TEXT, '\
                   'ProdName TEXT, '\
                   'Value REAL)')
    connection.commit()

def data_insert(prodName, value, cursor=c, connection=conn):
    cursor.execute('INSERT INTO Produtos (Date, ProdName, Value) VALUES (?, ?, ?)', (datetime.datetime.now(), prodName, value))
    connection.commit()

def show_all(cursor=c, connection=conn):
    cursor.execute('SELECT * FROM Produtos')
    for r in cursor.fetchall():
        print(r)

def show_where_value_above(value, cursor=c, connection=conn):
    cursor.execute('SELECT * FROM Produtos WHERE Value > ' + str(value))
    for r in cursor.fetchall():
        print(r)

def show_all_values(cursor=c, connection=conn):
    cursor.execute('SELECT * FROM Produtos')
    for r in cursor.fetchall():
        print(r[3])

# tired of cursor and connection rewriting
def increase_prices(value):
    c.execute('UPDATE Produtos SET Value = Value + ' + str(value) + ' WHERE Value < 70')
    conn.commit()

def remove_expensive(value):
    c.execute('DELETE FROM Produtos WHERE Value > ' + str(value))
    conn.commit()

In [20]:
create_table_produtos(c, conn)

for i in range(10):
    data_insert('Camisa'+str(i), random.randrange(50,100))
    time.sleep(1)

In [21]:
show_all()

(1, '2020-10-14 19:39:15.402531', 'Camisa0', 95.0)
(2, '2020-10-14 19:39:16.408800', 'Camisa1', 95.0)
(3, '2020-10-14 19:39:17.415822', 'Camisa2', 51.0)
(4, '2020-10-14 19:39:18.426689', 'Camisa3', 75.0)
(5, '2020-10-14 19:39:19.435903', 'Camisa4', 63.0)
(6, '2020-10-14 19:39:20.450029', 'Camisa5', 61.0)
(7, '2020-10-14 19:39:21.459603', 'Camisa6', 98.0)
(8, '2020-10-14 19:39:22.475463', 'Camisa7', 80.0)
(9, '2020-10-14 19:39:23.484507', 'Camisa8', 78.0)
(10, '2020-10-14 19:39:24.496378', 'Camisa9', 50.0)
(11, '2020-10-14 19:59:16.452675', 'Camisa0', 79.0)
(12, '2020-10-14 19:59:17.464848', 'Camisa1', 74.0)
(13, '2020-10-14 19:59:18.479100', 'Camisa2', 87.0)
(14, '2020-10-14 19:59:19.490861', 'Camisa3', 51.0)
(15, '2020-10-14 19:59:20.501398', 'Camisa4', 85.0)
(16, '2020-10-14 19:59:21.511364', 'Camisa5', 76.0)
(17, '2020-10-14 19:59:22.522685', 'Camisa6', 53.0)
(18, '2020-10-14 19:59:23.537671', 'Camisa7', 76.0)
(19, '2020-10-14 19:59:24.553068', 'Camisa8', 63.0)
(20, '2020-10-14 19:59:25.563063', 'Camisa9', 75.0)

In [22]:
show_where_value_above(70)

(1, '2020-10-14 19:39:15.402531', 'Camisa0', 95.0)
(2, '2020-10-14 19:39:16.408800', 'Camisa1', 95.0)
(4, '2020-10-14 19:39:18.426689', 'Camisa3', 75.0)
(7, '2020-10-14 19:39:21.459603', 'Camisa6', 98.0)
(8, '2020-10-14 19:39:22.475463', 'Camisa7', 80.0)
(9, '2020-10-14 19:39:23.484507', 'Camisa8', 78.0)
(11, '2020-10-14 19:59:16.452675', 'Camisa0', 79.0)
(12, '2020-10-14 19:59:17.464848', 'Camisa1', 74.0)
(13, '2020-10-14 19:59:18.479100', 'Camisa2', 87.0)
(15, '2020-10-14 19:59:20.501398', 'Camisa4', 85.0)
(16, '2020-10-14 19:59:21.511364', 'Camisa5', 76.0)
(18, '2020-10-14 19:59:23.537671', 'Camisa7', 76.0)
(20, '2020-10-14 19:59:25.563063', 'Camisa9', 75.0)

In [23]:
show_all_values()

95.0
95.0
51.0
75.0
63.0
61.0
98.0
80.0
78.0
50.0
79.0
74.0
87.0
51.0
85.0
76.0
53.0
76.0
63.0
75.0

In [24]:
increase_prices(10)
show_all()

(1, '2020-10-14 19:39:15.402531', 'Camisa0', 95.0)
(2, '2020-10-14 19:39:16.408800', 'Camisa1', 95.0)
(3, '2020-10-14 19:39:17.415822', 'Camisa2', 61.0)
(4, '2020-10-14 19:39:18.426689', 'Camisa3', 75.0)
(5, '2020-10-14 19:39:19.435903', 'Camisa4', 73.0)
(6, '2020-10-14 19:39:20.450029', 'Camisa5', 71.0)
(7, '2020-10-14 19:39:21.459603', 'Camisa6', 98.0)
(8, '2020-10-14 19:39:22.475463', 'Camisa7', 80.0)
(9, '2020-10-14 19:39:23.484507', 'Camisa8', 78.0)
(10, '2020-10-14 19:39:24.496378', 'Camisa9', 60.0)
(11, '2020-10-14 19:59:16.452675', 'Camisa0', 79.0)
(12, '2020-10-14 19:59:17.464848', 'Camisa1', 74.0)
(13, '2020-10-14 19:59:18.479100', 'Camisa2', 87.0)
(14, '2020-10-14 19:59:19.490861', 'Camisa3', 61.0)
(15, '2020-10-14 19:59:20.501398', 'Camisa4', 85.0)
(16, '2020-10-14 19:59:21.511364', 'Camisa5', 76.0)
(17, '2020-10-14 19:59:22.522685', 'Camisa6', 63.0)
(18, '2020-10-14 19:59:23.537671', 'Camisa7', 76.0)
(19, '2020-10-14 19:59:24.553068', 'Camisa8', 73.0)
(20, '2020-10-14 19:59:25.563063', 'Camisa9', 75.0)

In [25]:
remove_expensive(90)
show_all()

(3, '2020-10-14 19:39:17.415822', 'Camisa2', 61.0)
(4, '2020-10-14 19:39:18.426689', 'Camisa3', 75.0)
(5, '2020-10-14 19:39:19.435903', 'Camisa4', 73.0)
(6, '2020-10-14 19:39:20.450029', 'Camisa5', 71.0)
(8, '2020-10-14 19:39:22.475463', 'Camisa7', 80.0)
(9, '2020-10-14 19:39:23.484507', 'Camisa8', 78.0)
(10, '2020-10-14 19:39:24.496378', 'Camisa9', 60.0)
(11, '2020-10-14 19:59:16.452675', 'Camisa0', 79.0)
(12, '2020-10-14 19:59:17.464848', 'Camisa1', 74.0)
(13, '2020-10-14 19:59:18.479100', 'Camisa2', 87.0)
(14, '2020-10-14 19:59:19.490861', 'Camisa3', 61.0)
(15, '2020-10-14 19:59:20.501398', 'Camisa4', 85.0)
(16, '2020-10-14 19:59:21.511364', 'Camisa5', 76.0)
(17, '2020-10-14 19:59:22.522685', 'Camisa6', 63.0)
(18, '2020-10-14 19:59:23.537671', 'Camisa7', 76.0)
(19, '2020-10-14 19:59:24.553068', 'Camisa8', 73.0)
(20, '2020-10-14 19:59:25.563063', 'Camisa9', 75.0)

In [26]:
c.close()
conn.close()