### SQLite

In [1]:
import os
os.remove('files/escola.db') if os.path.exists('files/escola.db') else None

In [3]:
import sqlite3 as sql

Cria uma conex√£o com o banco

In [4]:
conn = sql.connect('files/escola.db')
type(conn)

In [8]:
# Um cursor permite percorrer todos os registros em um banco de dados
cur = conn.cursor()
type(cur)

In [11]:
sql_create = 'create table CURSOS ('\
    'id integer primary key, '\
    'titulo varchar(100), '\
    'categoria varchar(100))'

cur.execute(sql_create)

In [13]:
sql_insert = 'insert into CURSOS values (?, ?, ?)'

recset = [(1000, 'Ciencia de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Analise de Dados')]

for rec in recset:
    cur.execute(sql_insert, rec)

In [14]:
conn.commit()

In [15]:
sql_select = 'select * from CURSOS'

cur.execute(sql_select)
dados = cur.fetchall()

In [16]:
print(dados)

[(1000, 'Ciencia de Dados', 'Data Science'), (1001, 'Big Data Fundamentos', 'Big Data'), (1002, 'Python Fundamentos', 'Analise de Dados')]

In [18]:
cur.execute(sql_insert, (1003, 'Curso novo', 'Data Science'))

IntegrityError: UNIQUE constraint failed: CURSOS.id

In [24]:
cur.execute('select * from CURSOS where categoria is "Data Science"')

In [25]:
for reg in cur.fetchall():
    print(reg)

(1000, 'Ciencia de Dados', 'Data Science')
(1003, 'Curso novo', 'Data Science')

In [26]:
conn.close()