In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load Data

In [6]:
df = pd.read_csv('data/7wonders.csv')
df.dropna(axis=1, inplace=True)

In [7]:
df.head()

,Jogo#,Jogador,Militar,Riqueza,Maravilha,Civil,Comércio,Ciência,Guilda,Cidade,Total
0,1,Radif,10,0,13,14,3,0,29,2,71
1,1,Guga,1,7,10,3,3,36,5,4,69
2,1,Rajiv,8,4,3,12,9,18,0,8,62
3,1,Lais,1,8,10,26,5,0,0,0,50
4,2,Rajiv,-3,4,10,0,0,64,10,2,87