### Instructions as funcitons

In [1]:
import sqlite3
import random
import datetime
import time

conn = sqlite3.connect('files/loja.db')
c = conn.cursor()

In [5]:
def create_table_produtos(cursor=c, connection=conn):
    cursor.execute('CREATE TABLE IF NOT EXISTS Produtos('\
                   'ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, '\
                   'Date TEXT, '\
                   'ProdName TEXT, '\
                   'Value REAL)')
    connection.commit()

def data_insert(ProdName, Value, cursor=c, connection=conn):
    cursor.execute('INSERT INTO Produtos (Date, ProdName, Value) VALUES (?, ?, ?)', (datetime.datetime.now(), ProdName, Value))
    connection.commit()

def show_all(cursor=c, connection=conn):
    cursor.execute('SELECT * FROM Produtos')
    for r in cursor.fetchall():
        print(r)

In [4]:
create_table_produtos(c, conn)

for i in range(10):
    data_insert('Camisa'+str(i), random.randrange(50,100))
    time.sleep(1)

In [6]:
show_all()

(1, '2020-10-14 19:39:15.402531', 'Camisa0', 95.0)
(2, '2020-10-14 19:39:16.408800', 'Camisa1', 95.0)
(3, '2020-10-14 19:39:17.415822', 'Camisa2', 51.0)
(4, '2020-10-14 19:39:18.426689', 'Camisa3', 75.0)
(5, '2020-10-14 19:39:19.435903', 'Camisa4', 63.0)
(6, '2020-10-14 19:39:20.450029', 'Camisa5', 61.0)
(7, '2020-10-14 19:39:21.459603', 'Camisa6', 98.0)
(8, '2020-10-14 19:39:22.475463', 'Camisa7', 80.0)
(9, '2020-10-14 19:39:23.484507', 'Camisa8', 78.0)
(10, '2020-10-14 19:39:24.496378', 'Camisa9', 50.0)

In [7]:
c.close()
conn.close()